#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
body{
    margin: 0;
}

.app-container{
    width: 80%; 
    display: flex;
    justify-content: center;

}

.search-box-container{
    padding-top:10%;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.input-div{
    text-align: center;
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-radius: 25px;
    padding: 2%;
    font-size: 20px;
    outline: none;
}
.input-div-if-suggestion{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
}

.result-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 0;
    padding: 2%;
    border: 1px solid
    black;
   
}

.result-container-if-no-results{
    display: none;
}

.search-result{
    width: 96%;
    height: 30px;
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 5%;
}
.addResult-container{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
.newresultinput-div{
    text-align: center;
    height: 20px;
}