#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
body{
    margin: 0;
}

.app-container{
    width: 80%; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-box-container{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.input-div{
    text-align: center;
    width: 96%;
    height: 30px;
    border: 1px solid ;
    border-radius: 25px;
    padding: 2%;
    font-size: 20px;
    outline: none;
}

.input-div-if-suggestion{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
}

.result-container{
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 0;
    padding: 2%;
	border: 1px solid black;
}
.result-container-if-no-results{
    display: none;
}

.search-result{
    width: 96%;
    height: 30px;
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 5%;
    cursor: pointer;
    margin-top: 5px;
}
.search-result:hover{
    box-shadow: 1px 0px 1px 1px #e8e8f0; 
    border: 1px solid#e8e8f0;

}
.add-result-container{
    padding-top: 20px;
    display: flex;
    width: 100%;;
    flex-direction: row;
}
.new-result-input-div{
    text-align: center;
    width: 70%;
    height: 20px;
    border: 1px solid ;
    border-radius: 10px;
    padding: 2%;
    font-size: 20px;
    outline: none;
}
.add-button{
   margin-left: 5%;
   width: 30%;
   font-size: 20px;
   border-radius: 10px;
}
.remove-icon {
    border:1px solid transparent;
    background-color: transparent;
	display: flex;
    outline: 0;
    cursor: pointer;
   
}
.remove-icon:after {
	content: "X";
	display: flex;
	text-align: center;
	color: black;
	cursor: pointer;
}
.searched-suggestion{
    width: 90%;
}